@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  /* === Layout Breakpoints === */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  /* === Colors === */
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  /* === Typography === */
  --font-size-body: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: var(--font-size-body);
  color: var(--stone-600);
  background-color: var(--stone-100);
}
.container {
  width: 736px;
  margin: 0 auto;
  background-color: var(--white);
  padding: 40px;
}
.featured-image {
  width: 100%;
  height: 300px;
  background-image: url("./assets/images/image-omelette.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-bottom: 40px;
}
h1 {
  font-family: "young serif", serif;
  font-size: 40px;
  font-weight: 500;
  color: var(--stone-900);
  margin-bottom: 24px;
}
p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: var(--stone-600);
  margin-bottom: 32px;
}
.preperation-time {
  background-color: var(--rose-50);
  padding: 24px;
}
.preperation-time h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--rose-800);
  margin-bottom: 16px;
}
.preperation-time ul {
  padding-left: 32px;
}
.preperation-time li {
  font-size: 16px;
  font-weight: 500;
  color: var(--stone-600);
  margin-bottom: 8px;
}
.preperation-time li::marker {
  color: var(--rose-800);
}
.ingredients {
  margin-top: 32px;
}
.ingredients h3 {
  font-family: "young serif", serif;
  font-size: 28px;
  color: var(--brown-800);
  margin-bottom: 24px;
}
.ingredients ul {
  list-style-position: outside;
  padding-left: 20px;
  margin-top: 0;
}
.ingredients li {
  margin-bottom: 18px;
  font-family: "Outfit";
  font-size: 16px;
}
